* {
    box-sizing: border-box;

}

body {
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(90deg, #1CB5E0 0%, #000851 100%);
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;



}



.content-grid {
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 700px;
    background-color: rgba(64, 64, 64, 0.79);
    border-radius: 20px;


}

header {
    display: flex;
    justify-content: center;
}

.avatar {
    background-image: url(./images/avatar.png);
    background-size: cover;
    position: relative;
    bottom: 75px;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 2px solid #1CB5E0;
}

.middle-part {
    margin: 0 15px;
    font-size: medium;
    font-size: 18px;
}


.change-lang img {
    width: 50px;

}


.icon-part img {
    width: 100px;
}

.icon-part {
    display: flex;
    justify-content: space-evenly;
}

.main-cards {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}


.homework-card {
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    min-width: 500px;
    max-width: 500px;
    background-color: rgba(0, 0, 0, 0.564);
    border-radius: 20px;
    margin: 10px;

}

.link-homework {
    align-self: center;
}

.link-homework img {
    width: 5rem;

}